<div class="container">
    <h2>Update Item</h2>
  
    <form [formGroup]="updateForm" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-group">
        <mat-label>Name:</mat-label>
        <input matInput id="name" formControlName="name" required>
      </mat-form-field>
  
      <mat-form-field class="form-group">
        <mat-label>Quantity:</mat-label>
        <input matInput type="number" id="quantity" formControlName="quantity" required>
      </mat-form-field>
  
      <mat-form-field class="form-group">
        <mat-label>Price:</mat-label>
        <input matInput type="number" id="price" formControlName="price" required>
      </mat-form-field>
  
      <mat-form-field class="form-group">
        <mat-label>Type:</mat-label>
        <input matInput id="type" formControlName="type" required>
      </mat-form-field>
  
      <mat-form-field class="form-group">
        <mat-label>Description:</mat-label>
        <textarea matInput id="description" formControlName="description"></textarea>
      </mat-form-field>
  
      <button type="submit" mat-button class="btn btn-primary">Update Item</button>
    </form>
  </div>
  
